# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/**/gradle-wrapper.jar
.gradle/
local.properties

# OS & IDE
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
